:root {
  --colorBackground: #fefefe;
  --colorBackgroundDark: #f8f8f8;
  --colorForeground: #222222;
  --colorBorder: #dedede;
  --colorPrimary: #7508da;
  --colorPrimaryDark: #5e00b7;
  --colorDanger: #de1252;
}
