@value colorBackground: #fefefe;
@value colorForeground: #222222;
@value colorBorder: #dedede;
@value colorPrimary: #F9DC5C;

:root {
    --colorBackground: colorBackground;
    --colorForeground: colorForeground;
    --colorBorder: colorBorder;
    --colorPrimary: colorPrimary;
}