:root {
  --baseline: 8px;
  --spacexxxSmall: calc(baseline * 0.5);
  --spacexxSmall: calc(baseline * 1);
  --spacexSmall: calc(baseline * 1.5);
  --spaceSmall: calc(baseline * 2);
  --spaceMedium: calc(baseline * 3);
  --spaceLarge: calc(baseline * 4);
  --spacexLarge: calc(baseline * 6);
  --spacexxLarge: calc(baseline * 8);
  --spacexxxLarge: calc(baseline * 12);
}
