.page {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.input {
  width: 100%;
  height: calc(var(--baseline) * 8);
  border: 0;
  padding: var(--spaceSmall) var(--spaceMedium);
  font-size: 1.25em;
  border-bottom: 1px solid var(--colorBorder);
  border-top: 1px solid var(--colorBorder);
}

.dimText {
  color: #777;
}

.profilesContainer {
  padding: 0 var(--spaceMedium);
  font-size: 0.8em;
  composes: dimText;
}

.addMore {
  text-decoration: underline;
  composes: dimText;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spaceMedium);
}

.emptyLead {
  margin-bottom: var(--spaceSmall);
  text-align: center;
}

.resultCard {
  width: 100%;
  padding: var(--spacexxSmall) var(--spaceMedium);
  border-bottom: 1px solid var(--colorBorder);
  color: var(--colorForeground);
  transition: background 0.15s ease-in-out;
  text-align: left;
}

.resultCard:hover {
  background: var(--colorBorder);
}

.resultCardTitle {
  margin: var(--spacexxxSmall) 0 var(--spacexxSmall) 0;
}

.resultCardDescription {
  margin: 0;
  font-size: 0.8em;
}