.page {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.input {
  width: 100%;
  height: calc(var(--baseline) * 8);
  border: 0;
  padding: var(--spaceSmall) var(--spaceMedium);
  font-size: 1.25em;
  border-bottom: 1px solid var(--colorBorder);
}

.dimText {
  color: #777;
}

.profilesContainer {
  padding: var(--spacexxSmall) var(--spaceMedium);
  font-size: 0.8em;
  composes: dimText;
}

.addMore {
  text-decoration: underline;
  composes: dimText;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spaceMedium);
}

.emptyLead {
  margin-bottom: var(--spaceSmall);
  text-align: center;
}