.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleBar {
  padding-top: env(titlebar-area-height, 40px);
  -webkit-app-region: drag;
  background: var(--colorBackgroundDarker);
  position: sticky;
  top: 0;
}

.sidebarAndContent {
  display: flex;
  height: 100%;
}

.sidebar {
  width: calc(var(--baseline) * 24);
  height: 100%;
  background: var(--colorBackground);
  border-right: 1px solid var(--colorBorder);
}

.content {
  flex: 1;
}

.titleContainer {
  border-bottom: 1px solid var(--colorBorder);
  padding: var(--spaceSmall);
  background: var(--colorBackgroundDarker);
}

.title {
  margin: 0;
  color: var(--colorForeground);
}

.sidebarLink {
  display: block;
  padding: var(--spaceSmall);
  border-bottom: 1px solid var(--colorBorder);
  text-decoration: none;
  color: var(--colorForeground);
}

.sidebarLink.active {
  color: var(--colorPrimary);
  font-weight: 600;
}
