.titleBar {
    height: env(titlebar-area-height, 40px);
    top: env(titlebar-area-y, 0);
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colorBackground);
}
