@value spacexxSmall, spaceSmall from "../theme/spacing.module.css";
@value colorForeground, colorBackground from "../theme/color.module.css";

.button {
  border: none;
  padding: spacexxSmall spaceSmall;
  border-radius: spacexxSmall;
  background: colorForeground;
  color: colorBackground;
  cursor: pointer;
}

.tappableArea {
  border: 0;
  padding: 0;
  background: unset;
  cursor: pointer;
}
