@value spacexxxSmall, spacexSmall, spaceSmall from "../theme/spacing.module.css";
@value colorPrimary, colorBackground from "../theme/color.module.css";

.button {
    border: none;
    padding: spacexSmall spaceSmall;
    border-radius: spacexxxSmall;
    background: colorPrimary;
    color: colorBackground;
}