@value spacexxSmall, spaceSmall from "../theme/spacing.module.css";
@value colorPrimary, colorForeground, colorBackground from "../theme/color.module.css";

.button {
  border: none;
  padding: spacexxSmall spaceSmall;
  box-shadow: inset 0 0 spacexxxSmall colorForeground;
  background: colorPrimary;
  cursor: pointer;
}

.tappableArea {
  border: 0;
  padding: 0;
  background: unset;
  cursor: pointer;
}
