.container {
    padding: var(--spaceMedium);
}

.divider {
    margin: var(--spaceMedium) 0;
    background-color: var(--colorBorder);
    border: none;
    height: 1px;
}

.heading{
    margin: 0 0 var(--spaceSmall) 0;
}
