.hero {
  padding: calc(var(--base) * 16) calc(var(--base) * 6);
  background: var(--colorBackground);
  text-align: center;
}

.heroTitle {
  margin: var(--spaceLarge) 0 var(--spaceSmall) 0;
  font-size: 3em;
  font-weight: normal;
}

.heroLead {
  font-size: 1.5em;
  margin: 0 0 var(--spacexLarge) 0;
}
