.header {
  padding: var(--spacexSmall) var(--spacexxxLarge);
  border-top: 1px solid var(--colorForeground);
  border-bottom: 1px solid var(--colorForeground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spaceLarge);
}

.brandBlock {
  display: flex;
  align-items: center;
}

.headerTitle {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
  display: inline-block;
  margin-left: var(--spacexxSmall);
}

.hero {
  padding: calc(var(--baseline) * 16) var(--spacexxxLarge);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heroTitle {
  font-size: 2.5em;
  font-weight: normal;
  margin-top: var(--spaceSmall);
  margin-bottom: 0;
}

.options {
  display: flex;
  justify-content: center;
  gap: var(--spaceLarge);
}

.option {
  padding: var(--spaceSmall) var(--spaceLarge);
  border: 1px solid var(--colorBorder);
  display: inline-flex;
  gap: var(--spaceLarge);
  user-select: none;
  cursor: pointer;
  transition: border-color 0.1s ease-out, color 0.1s ease-out;
  border-radius: var(--spacexxSmall);
}

.option:hover {
  border-color: var(--colorPrimary);
  color: var(--colorPrimary);
}

.optionTitle {
  margin-top: 0;
  margin-bottom: var(--spacexxxSmall);
}

.optionDescription {
  margin: 0;
}
