.container {
  padding: var(--spaceSmall);
}

.title {
  margin: 0;
}

.integrationList {
  display: flex;
  gap: var(--spacexSmall);
  margin: var(--spaceMedium) 0 var(--spacexLarge) 0;
}

.integration {
  display: flex;
  flex-direction: column;
  gap: var(--spacexSmall);
  align-items: center;
  width: calc(var(--baseline) * 12);
}

.integrationIcon {
  width: var(--spaceLarge);
  height: var(--spaceLarge);
}

.integrationLabel {
  margin: 0;
}
