:root {
  --base: 8px; 

  --color-foreground: #222222;
  --color-background: #fefefe;
  --color-border: #dddddd;
}

html {
  background-color: var(--color-background);
}

body {
  padding: 0;
  margin: 0;
  font-family: Space Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--color-foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: #fefefe;
    --color-background: #222222;
    --color-border: #555555;
  }
}