.header {
  padding: calc(var(--base) * 2) calc(var(--base) * 4);
  background: var(--colorBackground);
  font-size: 1.25em;
}

.brandBlock {
  display: flex;
  align-items: center;
}

.brandTitle {
  font-weight: 500;
  font-size: 1em;
  margin-left: var(--base);
}
