.container {
    padding: var(--spaceSmall);
}

.title {
    margin: 0 0 var(--spaceSmall) 0;
}

.integrationList {
    display: flex;
    gap: var(--spacexSmall);
}

.integration {
    display: flex;
    flex-direction: column;
    gap: var(--spacexSmall);
    align-items: center;
    padding: var(--spacexxSmall) var(--spacexSmall);
    border-radius: var(--spacexxSmall);
    border: 1px solid var(--colorBorder);
}

.integrationIcon {
    width: var(--spaceLarge);
    height: var(--spaceLarge);
}

.integrationLabel {
    margin: 0;
}