.button {
  border: none;
  padding: var(--spacexxSmall) var(--spaceSmall);
  cursor: pointer;
  transition: background 0.15s, box-shadow 0.15s;
  border-radius: var(--spaceSmall);
  user-select: none;
}

.button.default {
  box-shadow: inset 0 0 0 1px var(--colorBorder);
  background: var(--colorBackground);
}

.button.default:hover:not(:active) {
  background: var(--colorBackgroundDark);
}

.button.primary {
  background: var(--colorPrimary);
  color: var(--colorBackground);
}

.button.primary:hover:not(:active) {
  background: var(--colorPrimaryDark);
}

.button.danger {
  background: var(--colorBackground);
  box-shadow: inset 0 0 0 1px var(--colorDanger);
}

.button.danger:hover:not(:active) {
  background: var(--colorDanger);
  color: var(--colorBackground)
}

.tappableArea {
  border: 0;
  padding: 0;
  background: unset;
  cursor: pointer;
}
