.button {
  border: none;
  padding: var(--spacexxSmall) var(--spaceSmall);
  background: var(--colorPrimary);
  color: var(--colorBackground);
  cursor: pointer;
  transition: background 0.15s;
  border-radius: var(--spaceSmall);
  user-select: none;
}

.button:hover:not(:active) {
  background: var(--colorPrimaryDark);
}

.tappableArea {
  border: 0;
  padding: 0;
  background: unset;
  cursor: pointer;
}
