.resultCard {
  width: 100%;
  padding: var(--spacexSmall) var(--spaceMedium);
  border-bottom: 1px solid var(--colorBorder);
  color: var(--colorForeground);
  transition: background 0.15s ease-in-out;
  text-align: left;
  display: flex;
  gap: var(--spaceMedium);
  align-items: center;
}

.resultCard:hover,
.resultCard:focus {
  background: var(--colorBackgroundDark);
}

.icon {
  width: var(--spaceLarge);
  height: var(--spaceLarge);
}

.inlineIcon {
  width: var(--spacexSmall);
  height: var(--spacexSmall);
  margin-right: var(--spacexxxSmall);
}

.resultCardTitle {
  margin: 0 0 var(--spacexxxSmall) 0;
}

.resultCardDescription {
  margin: 0;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
