.resultCard {
  width: 100%;
  padding: var(--spacexSmall) var(--spaceMedium);
  border-bottom: 1px solid var(--colorBorder);
  color: var(--colorForeground);
  transition: background 0.15s ease-in-out;
  text-align: left;
  display: flex;
  gap: var(--spaceMedium);
  align-items: center;
}

.resultCard:hover {
  background: var(--colorBackgroundDark);
}

.resultCard:hover .integration {
  background: var(--colorBackground);
}

.icon {
  width: var(--spaceMedium);
  height: var(--spaceMedium);
}

.type {
  text-transform: capitalize;
}

.resultCardTitle {
  margin: 0 0 var(--spacexxxSmall) 0;
}

.resultCardDescription {
  margin: 0;
  font-size: 0.8em;
}
