.resultCard {
    width: 100%;
    padding: var(--spacexxSmall) var(--spaceMedium);
    border-bottom: 1px solid var(--colorBorder);
    color: var(--colorForeground);
    transition: background 0.15s ease-in-out;
    text-align: left;
}
  
.resultCard:hover {
    background: var(--colorBorder);
}
  
.resultCardTitle {
    margin: var(--spacexxxSmall) 0 var(--spacexxSmall) 0;
}
  
.resultCardDescription {
    margin: 0;
    font-size: 0.8em;
}