.container {
  padding: var(--spaceMedium);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spaceSmall);
}

.title {
  font-size: 1em;
  margin: 0;
}

.profileContainer {
  border: 1px solid var(--colorBorder);
  padding: var(--spacexSmall);
  display: flex;
  gap: var(--spacexSmall);
  align-items: center;
}

.profileIcon {
  width: var(--spaceLarge);
  height: var(--spaceLarge);
  object-fit: contain;
}

.profileName {
  margin: 0;
}
