.container {
  padding: var(--spaceMedium);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spaceSmall);
}

.title {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}

.profileContainer {
  border: 1px solid var(--colorBorder);
  padding: var(--spacexSmall);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--spacexxSmall);
  margin-bottom: var(--spacexxSmall);
}

.profileInfo {
  display: flex;
  gap: var(--spacexSmall);
  align-items: center;
  justify-content: space-between;
}

.profileIcon {
  width: var(--spaceLarge);
  height: var(--spaceLarge);
  object-fit: contain;
  user-select: none;
}

.profileName {
  margin: 0;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spaceMedium);
}

.emptyLead {
  margin-bottom: var(--spaceSmall);
  text-align: center;
}
